version: '3.9'

services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: .
    depends_on:
      - mongo
    environment:
      PORT: 3000
      NODE_ENV: production
      SECRET_KEY: super-secret-change-me
      DB_CONNECTION: mongodb://mongo:27017/real-estate-direct
      FRONTEND_URL: http://localhost:3001
    ports:
      - "3000:3000"
    volumes:
      - ./uploads:/app/uploads
    restart: unless-stopped

volumes:
  mongo-data:
